.item-row {
  width: 500px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.item-text {
  display: block;
  width: 160px;
}

.btn-quantity {
  display: block;
  background-color: #fff;
  width: 30px;
  height: 20px;
  color: #000;
  border-radius: 5px;
  border-color: aliceblue;
}

.btn-quantity:hover {
  background-color: #d5d4d4;
}

.item-text-quantity {
  min-width: 80px;
}
